.recipe_parent {
  max-width: 190px;
}

.recipe_parent img {
  border-radius: 10px;
}

.recipe_parent h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: Arial;
  color: gray;
}

.recipe_parent p {
  margin-top: 5px;
  font-size: 15px;
  font-family: Arial;
  color: lightgray;
}
